$Header-Color: #f34d61;
$auth-background: #f9f8f8;
$gray-dark: #bebebe;
$gray-light: #eeeeee;
$white-color: #ffffff;

// Pokemon Colors
$Normal-Color: #929da3;
$Fighting-Color: #ce416b;
$Flying-Color: #8fa9de;
$Poison-Color: #aa6bc8;
$Ground-Color: #d97845;
$Rock-Color: #c5b78c;
$Bug-Color: #91c12f;
$Ghost-Color: #5269ad;
$Steel-Color: #5a8ea2;
$Fire-Color: #ff9d55;
$Water-Color: #5090d6;
$Grass-Color: #63bc5a;
$Electric-Color: #f4d23c;
$Psychic-Color: #fa7179;
$Ice-Color: #73cec0;
$Dragon-Color: #0b6dc3;
$Dark-Color: #5a5465;
$Fairy-Color: #ec8fe6;
$Physical-Color: #ea551e;
$Special-Color: #1c4684;
$Status-Color: #999999;
